body {

background-color: #f18973
;
color: #000000;
font-family: "Lemon Yellow Sun", serif;
    }
    
    .sansserif {
    font-family: "GoodDog New", Helvetica, sans-serif;
    }
    
    .monospace {
    font-family: "Magical Feather",monospace;
    
}
ol {list-style-type: lower-alpha;
padding: 5em;
    
}